html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	color: #222;
	font-family: arial, sans-serif;
}

#navbar {
	font-size: 13px;
	position: absolute;
	margin: 12px 0 0 10px;
	width: 100%;
}

#navbar .item {
	display: inline-block;
	padding-left: 15px;
	color: #000;
	opacity: 0.75;
}

#navbar .item:hover {
	text-decoration: underline;
	cursor: pointer;
}

#navbar .item-right {
	opacity: 0.85;
}

#nav-left {
	float: left;
	overflow: hidden;
}

#nav-right {
	float: right;
	padding-right: 35px;
	overflow-x: none;
}

#navbar #sign-in {
	color: #fff;
	cursor: default;
	text-decoration: none;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-left: 8px;
}

#navbar #sign-in:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

#navbar #menu {
	padding-left: 0;
	margin-left: 15px !important;
	margin-right: 0 !important;*/
	display: inline-block;
	flex: 0 0 auto;
	padding: 0 0 0 15px !important;
	cursor: pointer;
	text-decoration: none;
	opacity: 0.55;
	background-position: -132px -38px;
	background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-size: 528px 68px;
	position: relative;
	line-height: normal;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
}

